<div class="container">
  <div class="page-header">
    <h4>Editing Definition</h4>

    <%= render 'form' %>

    <%= link_to 'Show', @definition %> |
    <%= link_to 'Back', definitions_path %>
  </div>
</div>
