<table class="table table-condensed">
  <thead>
    <tr>
      <th><h4>New Definition</h4></th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td><%= render 'form' %></td>
  </tr>
  <tr>
    <td>Back to <%= link_to 'Home', definitions_path %></td>
  </tr>
</tbody>
</table>
