<table class="table table-condensed">
  <thead>
    <tr>
      <th><h2>New Definition</h2></th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td><%= render 'form' %></td>
  </tr>
  <tr>
    <td><%= link_to 'Back', definitions_path %></td>
  </tr>
</tbody>
</table>
